@import 'mixins';
@import 'variables';

body {
  font-family: var(--inter-400), serif;
  background-color: var(--bg-color);
}

.container {
  max-width: unset;
  margin: 0 auto;
  padding: 0 8px;

  @include minWidth($small-desktop-breakpoint) {
    max-width: 80%;
    padding: 0 16px;
  }
  @include minWidth($extra-large-desktop-breakpoint) {
    max-width: 70%;
  }
  @include minWidth(2200px) {
    max-width: 1600px;
  }
}
