:root {
  /* Fonts */
  --inter-400: "Inter-Regular", sans-serif;

  /* Colors */
  --color-white-gray: #f6f6f6;
  --bg-color: #F7F7F7;
  --strock-color: #D4D8E2;
  --white: #fff;
  --black: #000;
}

/* Sizes */

$phone-breakpoint: 375px;
$large-phone-breakpoint: 450px;
$small-tablet-breakpoint: 550px;
$tablet-breakpoint: 700px;
$large-tablet-breakpoint: 875px;
$small-desktop-breakpoint: 1131px;
$laptop-breakpoint: 1280px;
$extra-large-desktop-breakpoint: 1600px;
