:root {
  /* Fonts */
  --inter-100: "Inter-Thin", sans-serif;
  --inter-200: "Inter-ExtraLight", sans-serif;
  --inter-300: "Inter-Light", sans-serif;
  --inter-400: "Inter-Regular", sans-serif;
  --inter-500: "Inter-Medium", sans-serif;
  --inter-600: "Inter-SemiBold", sans-serif;
  --inter-700: "Inter-Bold", sans-serif;
  --inter-800: "Inter-ExtraBold", sans-serif;
  --inter-900: "Inter-Black", sans-serif;

  /* Colors */
  --color-white-gray: #f6f6f6;
  --color-light-gray: #7D7D7D;
  --color-gary: #777777;
  --color-dark-gary: #222222;
  --color-black: #111111;
  --color-light-green: #B2FAB9;
  --color-green: #229934;

  --bg-color: #F7F7F7;
  --strock-color: #D4D8E2;

  --default-font-size: 14px;
  --default-font-weight: 400;

  --white: #fff;
  --black: #000;
  --color-disabled: rgba(0, 0, 0, 0.12);
  --label-color: #7A6D66;
  --label-color-active: #4D3C33;
  --field-color: #C8C8C8;
  --field-color-active: #7A6D66;
  --field-color-error: #EC0000;
  --additionally-text-color: #7A6D66;

}

/* Sizes */

$phone-breakpoint: 375px;
$large-phone-breakpoint: 450px;
$small-tablet-breakpoint: 550px;
$tablet-breakpoint: 700px;
$large-tablet-breakpoint: 875px;
$small-desktop-breakpoint: 1131px;
$laptop-breakpoint: 1280px;
$extra-large-desktop-breakpoint: 1600px;
