<form [formGroup]="bookForm">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
    @if (bookForm.get('title')?.hasError('required')) {
     <mat-error>Title is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Author</mat-label>
    <input matInput formControlName="author" />
    @if (bookForm.get('author')?.hasError('required')) {
      <mat-error>Author is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Year</mat-label>
    <input matInput formControlName="year" type="number" />
    @if (bookForm.get('year')?.hasError('required')) {
      <mat-error>Year is required</mat-error>
    }
    @if (bookForm.get('year')?.hasError('min')) {
      <mat-error>Year must be at least 1900</mat-error>
    }
    @if (bookForm.get('year')?.hasError('max')) {
      <mat-error>Year cannot be in the future</mat-error>
    }

  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Cover Image URL</mat-label>
    <input matInput formControlName="coverImage" />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Save</button>
</form>
